*
!.gitignore
!mods-source
!mods-source/**
!config
!config/**
!defaultconfigs
!defaultconfigs/*
!resourcepacks
!resourcepacks/**
!shaderpacks
!shaderpacks/**
!manifest.json
!modlist.html
!raz-updater*
!.raz
!.gitattributes
!mods/
!mods/.init